extends layout

block content
  h1= title

  h2 Light
  p 4 hour's worth
  img(src='/images/image?hours=4&measure=inside-light&min=0')
  p 24 hour's worth
  img(src='/images/image?hours=24&measure=inside-light&min=0')
  p 1 week's worth
  img(src='/images/image?hours=168&measure=inside-light&min=0')

  h2 Temperature
  p 4 hour's worth
  img(src='/images/image?hours=4&measure=inside-temp&min=35')
  p 24 hour's worth
  img(src='/images/image?hours=24&measure=inside-temp&min=35')
  p 1 week's worth
  img(src='/images/image?hours=168&measure=inside-temp&min=35')

  h2 Humidity
  p 4 hour's worth
  img(src='/images/image?hours=4&measure=inside-humidity&min=20')
  p 24 hour's worth
  img(src='/images/image?hours=24&measure=inside-humidity&min=20')
  p 1 week's worth
  img(src='/images/image?hours=168&measure=inside-humidity&min=20')
